<header class="header">
  <div class="container">
    <div class="header-content">
      <h1 routerLink="/automobili">AM Auto</h1>
      <nav>
        <ul>
          <li><a routerLink="/automobili">Home</a></li>
        </ul>
      </nav>
      <mat-icon class="mi" [matMenuTriggerFor]="menu" (click)="toggleMenu()">perm_identity</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialogLogIn()" >Log In</button>
        <button mat-menu-item>Sign up</button>
      </mat-menu>
    </div>
  </div>
</header>
